alias dirs="dirs -v"
alias tmux='TERM=screen-256color-bce tmux'
alias ls='ls -lh'
alias la='ls -lah'
alias :q='exit'
alias sagi="sudo apt-get install"
alias cl="clear"
alias gs='git status'
alias sudo='sudo '

if type nvim >/dev/null 2>/dev/null; then
  alias vim=nvim
fi
