alias Grep="grep -rni ./ --exclude-dir node_modules --exclude-dir build --exclude-dir dist -e"
alias dirs="dirs -v"
alias tmux='tmux'
alias ls='ls -lh  --color=auto --group-directories-first'
alias lst='ls -tlh  --color=auto --group-directories-first'
alias la='ls -lah --color=auto --group-directories-first'
alias lat='ls -halt --color=auto --group-directories-first'
alias :q='exit'
alias sagi="sudo apt install"
alias sagr="sudo apt remove"
alias cl="clear"
alias gs='git status'
alias gdc='git diff --cached'
alias sudo='sudo '
alias fuh='kill -9'
alias doclog='docker logs -f --tail 500'
alias glog='git log --oneline --decorate --graph --remotes --branches --tags'


alias D='base16_gruvbox-dark-medium'
alias L='base16_gruvbox-light-medium'
alias shrug='echo ¯\\_(ツ)_/¯'

if type nvim >/dev/null 2>/dev/null; then
  alias vim='nvim'
  export EDITOR='nvim'
fi
