# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# It's recommended to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.pug]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = false
[*.jade]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = false
[*.md]
trim_trailing_whitespace = false
[**.cson]
indent_style = tab
indent_size = 4
[**.coffee]
indent_style = tab
indent_size = 4
[**.cjsx]
indent_style = tab
indent_size = 4
[**.rb]
indent_style = tab
indent_size = 4
[**.js]
indent_style = space
indent_size = 2
[**.py]
indent_style = tab
indent_size = 4
[**.conf]
indent_style = tab
indent_size = 2
[**.vue]
indent_style = tab
indent_size = 2
[**.rs]
indent_style = space
indent_size = 4
